#my_content {
	min-width: 330px !important;
}

.by {
	position: absolute;
	left: 10px;
	bottom: 2px;
	opacity: .5;
}
.by:hover {
	opacity: .8;
}

#delete {
	position: absolute;
	top: 0;
	right: 3px;
	outline: none;
}

button.close {
	outline: none;
}