html, body {
    height:100%;
}
a { 
    text-decoration: none !important;
}
form {
    margin-top: 50%;
}

#loginForm {
    min-width: 300px;
}

.input-group-text {
    background: white;
}

@-webkit-keyframes autofill {
    to {
        color: inherit;
        background: transparent;
    }
}
  
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}